    <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
        <div class="row">
          <div class="col-12 col-lg-12 col-xl-12">
              <div class="card border-secondary" style="margin-bottom: 5px;">
                <div class="card-body" style="padding: 15px;text-align: center;text-transform: uppercase;">
                    <h4 style="color: #212529;">Allocation</h4>    
                    <!--<h4>{{Attributes}}</h4>-->
                </div>
            </div>
          </div>
        </div>
      
        <div class="row">           
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card" style="margin-bottom: 5px;">
                   <div class="card-body">
                      <select ng-change="check()" id="elementTemplates" class="form-control" ng-model="cardSelected">
                          <option value="">---Select Block---</option>
                           <option ng-value="item.id" ng-repeat="item in List">{{item.name}}</option>
                       </select>   
                  </div>
               </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-body">
                        <select ng-change="checkEnumeration()" id="enumerationValues" class="form-control" ng-model="enumSelected">
                            <option value="">---Select Connection---</option>
                             <option ng-value="item.Value"  ng-disabled="item.Disabled===1" ng-repeat="item in EnumerationValues  | orderBy:'Value'">{{item.Name}}</option>
                         </select>   
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-body">
                        <span  style="text-align: center;">
                            <input type="text" class="form-control" id="dateTime" value="{{date | date:'yyyy-MM-dd HH:mm:ss'}}" placeholder="Date Time" readonly="">
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-body"  style="text-align: center">
                        <button type="button" class="btn btn-primary"><i class="ti-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>   
      
    </div>
      
      <!--End Row-->		  
      
       <!--End Dashboard Content-->
       
    </div>
    <!-- End container-fluid-->
    <div class="container-fluid" style="height: 500px;">
  
    </div>

  