    <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
      <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card border-secondary border-left-sm" style="margin-bottom: 5px;">
              <div class="card-body" style="padding: 15px;text-align: center;text-transform: uppercase;">
                  <h4 style="color: #212529;">Master Dashboard</h4>    
                  <!--<h4>{{itemList}}</h4>-->
              </div>
          </div>
        </div>
      </div>
      
      <div class="row mt-3">
        <div class="col-12 col-lg-6 col-xl-4">
          <div class="card border-info border-left-sm">
            <div class="card-body">
                <div class="form-group">
                <label>Select Block:</label>
                    <select ng-change="check()" id="elementTemplates" class="form-control" ng-model="cardSelected">
                        <option value="">---Select Template---</option>
                         <option ng-value="item.id" ng-repeat="item in List">{{item.name}}</option>
                     </select>               
                </div>
                <div class="form-group">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15133.99146486675!2d73.918909!3d18.506390550000003!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1539237815082" style="border:1px solid #ccc; width:100%;height:300px;" allowfullscreen>
                </iframe>
                </div>
                <div class="form-group">
                <label>Select Date Time:</label>
                <input type="date" class="form-control" value="" />
                </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-8">
          <div class="card border-danger border-left-sm">
            <div class="card-body">
              <div id="chartContainer" style="height: 500px; width: 100%;"></div>
            </div>
          </div>
        </div>
      
      </div>
      
      <!--End Row-->		  
      
       <!--End Dashboard Content-->
       
    </div>
    <!-- End container-fluid-->
    <div class="container-fluid" style="margin-top: 50px;">
  
    </div>
    </div>

  