    <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
      <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card" style="margin-bottom: 5px;">
              <div class="card-body topheader">
                  <h4>Master Dashboard</h4>  
              </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-4">
          <div class="card">
            <div class="card-body">
                <div class="form-group">
                     <span class="slect30">
                           <label>Select Block :</label>
                      </span>
                      <span class="slectBox70">
                          <select ng-change="check()" id="elementTemplates" class="form-control" ng-model="cardSelected">
                            <option value="">---Select the Block---</option>
                             <option ng-value="item.id" ng-repeat="item in List">{{item.name}}</option>
                         </select>                         
                     </span>                        
                </div>                
            </div>
          </div>
        </div>
         <div class="col-12 col-lg-6 col-xl-4">
          <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="slect30">
                           <label>Date-Time :</label>
                      </div>
                    <div class="slect70">
                        <div class="slect60">
                            <input type="text" class="dateTime form-control" style="width:95%;"  id="dateTime"  placeholder="Date Time">
                        </div>
                         <div class="slect40">
                                <input type="time" name="time" id="time" style="width:95%;" class="time form-control">
                        </div>
                    </div>
                </div>                
            </div>
          </div>
        </div>
           <div class="col-12 col-lg-6 col-xl-4">
          <div class="card">
            <div class="card-body">
                <div class="form-group">
                     <span class="slect30">
                           <label>Select Block :</label>
                      </span>
                      <span class="slectBox70">
                          <select ng-change="check()" id="elementTemplates" class="form-control" ng-model="cardSelected">
                            <option value="">---Select the Block---</option>
                             <option ng-value="item.id" ng-repeat="item in List">{{item.name}}</option>
                         </select>                         
                     </span>                        
                </div>                
            </div>
          </div>
        </div>
          
      </div>
      
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-4">
          <div class="card">
            <div class="card-body">      
                <iframe class="iframeMap" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15133.99146486675!2d73.918909!3d18.506390550000003!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1539237815082"  allowfullscreen="">
                </iframe>
            </div>
          </div>
        </div>
           <div class="col-12 col-lg-6 col-xl-2">
             <div class="card">
            <div class="card-body chartDiv scrollbar" id="style-1">
                <ul id="elementListLeft">
                    <li class="elemList elemList">
                        <input type="checkbox" id="elemList1" data-id="1" data-name="name1" value="1" name="selectorLeft">
                        <label class="labelList leftLabel btn btn-dark" for="elemList1">
                            Attributes Name 1
                        </label>
                    </li>
                    <li class="elemList elemList">
                        <input type="checkbox" id="elemList2" data-id="2" data-name="name2" value="2" name="selectorLeft">
                        <label class="labelList leftLabel btn btn-dark" for="elemList2">
                             Attributes Name 1
                        </label>
                    </li>
                    <li class="elemList elemList">
                        <input type="checkbox" id="elemList3" data-id="3" data-name="name3" value="3" name="selectorLeft">
                        <label class="labelList leftLabel btn btn-dark" for="elemList3">
                            Attributes Name 1
                        </label>
                    </li>
                    <li class="elemList elemList">
                        <input type="checkbox" id="elemList4" data-id="3" data-name="name3" value="3" name="selectorLeft">
                        <label class="labelList leftLabel btn btn-dark" for="elemList4">
                             Attributes Name 1
                        </label>
                    </li>
                    <li class="elemList elemList">
                        <input type="checkbox" id="elemList5" data-id="3" data-name="name3" value="3" name="selectorLeft">
                        <label class="labelList leftLabel btn btn-dark" for="elemList5">
                            Attributes Name 1
                        </label>
                    </li>
                    <li class="elemList elemList">
                        <input type="checkbox" id="elemList6" data-id="3" data-name="name3" value="3" name="selectorLeft">
                        <label class="labelList leftLabel btn btn-dark" for="elemList6">
                             Attributes Name 1
                        </label>
                    </li>
                    <li class="elemList elemList">
                        <input type="checkbox" id="elemList7" data-id="3" data-name="name3" value="3" name="selectorLeft">
                        <label class="labelList leftLabel btn btn-dark" for="elemList7">
                             Attributes Name 1
                        </label>
                    </li>
                     
                </ul> 
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-body chartDiv">
                <div id="chartContainer" class="chartContainer"></div>
            </div>
          </div>
        </div>
      
      </div>
      
      <!--End Row-->		  
      
       <!--End Dashboard Content-->
       
    </div>
    <!-- End container-fluid-->
    <div class="container-fluid" style="margin-top: 50px;">
  
    </div>
    </div>

  