    <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
      <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card" style="margin-bottom: 5px;">
              <div class="card-body topheader">
                  <h4>Master Dashboard</h4>  
              </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-4">
          <div class="card">
            <div class="card-body">
                <div class="form-group">
                     <span class="slect30">
                           <label>Select Block :</label>
                      </span>
                      <span class="slectBox70">
                          <select id="elementList" class="form-control">
                            <option value="">---Select the Block---</option>
                         </select>                         
                     </span>                        
                </div>                
            </div>
          </div>
        </div>
         <div class="col-12 col-lg-6 col-xl-4">
          <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="slect30">
                           <label>Date-Time :</label>
                      </div>
                    <div class="slect70">
                        <div class="slect60">
                            <input type="text" class="dateTime form-control" style="width:95%;"  id="dateTime"  placeholder="Date Time">
                        </div>
                         <div class="slect40">
                                <input type="time" name="time" id="time" style="" class="time form-control">
                        </div>
                    </div>
                </div>                
            </div>
          </div>
        </div>
           <div class="col-12 col-lg-6 col-xl-4">
          <div class="card">
            <div class="card-body">
                <div class="form-group">
                     <span class="slect30">
                           <label>Select Block :</label>
                      </span>
                      <span class="slectBox70">
                          <select ng-change="check()" id="" class="form-control" ng-model="cardSelected">
                            <option value="">---Select the Block---</option>
                             <option ng-value="item.id" ng-repeat="item in List">{{item.name}}</option>
                         </select>                         
                     </span>                        
                </div>                
            </div>
          </div>
        </div>
          
      </div>
      
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-4">
          <div class="card">
            <div class="card-body">      
                <iframe class="iframeMap" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15133.99146486675!2d73.918909!3d18.506390550000003!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1539237815082"  allowfullscreen="">
                </iframe>
            </div>
          </div>
            
            <div class="card attributesTable">
                <div class="card-body scrollbar" id="style-3">      
                <table class="table table-bordered table-striped tableAttributes">
                    <thead>
                        <tr><th>Name</th><th>Value</th><th>Timestamp</th></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
          </div>
        </div>
           <div class="col-12 col-lg-6 col-xl-2">
             <div class="card">
            <div class="card-body chartDiv scrollbar" id="style-1">
                <ul id="attributesListLeft"></ul> 
               
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-body chartDiv">
                <div id="container" class="chartContainer"></div>
            </div>
          </div>
        </div>
      
      </div>
      
      <!--End Row-->		  
      
       <!--End Dashboard Content-->
       
    </div>
    <!-- End container-fluid-->
    <div class="container-fluid" style="margin-top: 50px;">
  
    </div>
    </div>

